<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <% include ../partials/bootstrap %>
</head>

<body class="full-screen login">
    <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 ml-auto mr-auto">
              <div class="card card-register">
                <h2 class="card-title" align="center">Login</h2><br><br>
                <div class="col-md-6" align="center">
                  <a href="/login/user" class="btn btn-success">Login As User</a>
                </div>
                <div class="col-md-6" align="center">
                  <a href="/login/partner" class="btn btn-success">Login As Partner</a>
                </div><br><br>
                    <center> <h6>Don't have any account yet? Register as you please</h6> </center>
                    <div class="col-md-6">
                      <a href="/register/user" class="btn btn-primary btn-block btn-round">User</a>
                    </div>
                    <div class="col-md-6">
                      <a href="/register/partner" class="btn btn-primary btn-block btn-round">Partner</a>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>
