<!DOCTYPE html>
<html>
  <head>
    <title>Search Your Partner!</title>
  </head>
    <h1>Search Your Partner!</h1>
  <body>
        <form action="/search/result" method= "get" border>
            Gender:<br>

            <input type="radio" name="gender" value="male"> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <input type="radio" name="gender" value="other"> Other<br>
            Age:<br>
            <input type="integer" name="min_age" placeholder="Minimum Age">
            <input type="integer" name="max_age" placeholder="Maximum Age">
            <br>
            Height:<br>
            <input type="integer" name="min_height" placeholder="Minimum Height">
            <input type="integer" name="max_height" placeholder="Maximum Height">
            <br>
            Weight:<br>
            <input type="integer" name="min_weight" placeholder="Minimum Weight">
            <input type="integer" name="max_weight" placeholder="Minimum Weight">
            <br>
            Price:<br>
            <input type="integer" name="min_rate" placeholder="Minimum Rate">
            <input type="integer" name="max_rate" placeholder="Maximum Rate">
            <br>
            <br>
            <input type="submit" value="Search">
          </form>

          <table border="">
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Age</th>
              <th>Height</th>
              <th>Weight</th>
              <th>Rate</th>
              <th>Pick</th>
            </tr>



          </table>
  </body>
</html>
